{% style %}
    .flex-section-container {
        margin: 24px;
        padding: 24px 0;
    }

    .left-column, .right-column {
        padding: 12px;
    }

    .left-column {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .right-column {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .Order-1, .Order-2 {
        margin: 12px 0;
    }

    .Order-1 .left-content, .Order-1 .right-content,
    .Order-2 .left-content, .Order-2 .right-content {
        flex: 1;
        width: 50%;
        position: relative;
    }

    .right-content {
        color: #fff;
    }

    .Order-3 {
        margin: 12px 0;
        width: 100%;
    }

    .flex-section-bg-image {
        height: 100%;
        width: 100%;
        display: block;
    }

    .flex-section-bg-image-container {
        position: relative;
    }

    .flex-section-bg-image-container::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        pointer-events: none;
    }

    .right-column-content {
        z-index: 9;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
{% endstyle %}

<div class="section-id-{{ section.id }}">
    <div class="flex-section-container">
        <div class="D-Flex F-Row" style="height: 100%;">
            <div class="left-column">
                {% for block in section.blocks %}
                    {% if block.settings.order_number == '1' or block.settings.order_number == '2' %}
                        <div class="Order-{{ block.settings.order_number }} D-Flex F-Row" style="height: 100%;">
                            <div class="left-content flex-section-bg-image-container">
                                <img src="{{ block.settings.image | img_url: '1024x1024' }}" class="flex-section-bg-image" alt="Background Image" />
                            </div>
                            <div class="right-content D-Flex F-Column" style="background-color: {{ block.settings.bg_color }};">
                                <h1 class="ColorWhite">{{ block.settings.title }}</h1>
                                <p class="ColorWhite">{{ block.settings.description }}</p>
                                <a href="#" class="ColorWhite">{{ block.settings.button }}</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="right-column">
                {% for block in section.blocks %}
                    {% if block.settings.order_number == '3' %}
                        <div class="Order-{{ block.settings.order_number }} D-Flex F-Row" style="height: 100%;">
                            <div class="left-content flex-section-bg-image-container P-Relative">
                                <img src="{{ block.settings.image | img_url: '1024x1024' }}" class="flex-section-bg-image" alt="Background Image" />
                                <div class="P-Absolute right-column-content" style="background-color: {{ block.settings.bg_color }};">
                                    <h1 class="ColorWhite">{{ block.settings.title }}</h1>
                                    <p class="ColorWhite">{{ block.settings.description }}</p>
                                    <a href="#" class="ColorWhite">{{ block.settings.button }}</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Flex Section",
  "class": "section-flex-section",
  "settings": [],
  "blocks": [
    {
      "type": "box",
      "name": "Box",
      "settings": [
        {
          "id": "order_number",
          "type": "select",
          "label": "Order Number",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            }
          ]
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Title"
        },
        {
          "id": "description",
          "type": "textarea",
          "label": "Description"
        },
        {
          "id": "button",
          "type": "text",
          "label": "Button"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background Color",
          "default": "#001d7c"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Flex Section",
      "settings": {},
      "blocks": []
    }
  ]
}
{% endschema %}
