<style>
    .flex-section-container {
        margin: 24px;
        padding: 24px 0;
    }

    .D-Flex {
        display: flex;
    }

    .left-column, .right-column {
        padding: 12px;
    }

    .left-column {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .right-column {
        flex: 1;
    }

    .Order-1, .Order-2, .Order-3 {
        margin: 12px 0;
        padding: 12px;
        border: 1px solid #000;
    }
</style>

<div class="section-id-{{ section.id }}">
    <div class="flex-section-container">
        <div class="D-Flex">
            <div class="left-column">
                {% for block in section.blocks %}

                    {% liquid
                        assign image = block.settings.image
                    %}

                    {% if block.settings.order_number == '1' or block.settings.order_number == '2' %}
                        <div class="Order-{{ block.settings.order_number }} D-Flex F-Row">
                            <div>
                                <img src="{{ image | img_url: '1024x1024' }}" alt="Background Image" />
                            </div>
                            <div class="D-Flex F-Column">
                                <h1>title</h1>
                                <h2>description</h2>
                                <h3>button</h3>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="right-column">
                {% for block in section.blocks %}
                    {% if block.settings.order_number == '3' %}
                        <div class="Order-{{ block.settings.order_number }}">
                            {{ block.settings.order_number }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Flex Section",
  "class": "section-flex-section",
  "settings": [],
  "blocks": [
    {
      "type": "box",
      "name": "Box",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "id": "order_number",
          "type": "select",
          "label": "Order Number",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Flex Section",
      "settings": {},
      "blocks": []
    }
  ]
}
{% endschema %}
