<style>
    .flex-section-container {
        margin: 24px;
        padding: 24px 0;
    }

    .D-Flex {
        display: flex;
    }

    .F-Row {
        flex-direction: row;
    }

    .F-Column {
        flex-direction: column;
    }

    .left-column, .right-column {
        padding: 12px;
    }

    .left-column {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .right-column {
        flex: 1;
    }

    .Order-1, .Order-2 {
        margin: 12px 0;
        border: 1px solid #000;
    }

    .Order-1 .left-content, .Order-1 .right-content,
    .Order-2 .left-content, .Order-2 .right-content {
        flex: 1;
        width: 50%;
    }

    .Order-3 {
        margin: 12px 0;
        border: 1px solid #000;
        width: 100%;
    }
</style>

<div class="section-id-{{ section.id }}">
    <div class="flex-section-container">
        <div class="D-Flex">
            <div class="left-column">
                {% for block in section.blocks %}
                    {% if block.settings.order_number == '1' or block.settings.order_number == '2' %}
                        <div class="Order-{{ block.settings.order_number }} D-Flex F-Row">
                            <div class="left-content">
                                <img src="{{ block.settings.image | img_url: '1024x1024' }}" alt="Background Image" />
                            </div>
                            <div class="right-content D-Flex F-Column">
                                <h1>{{ block.settings.title }}</h1>
                                <h2>{{ block.settings.description }}</h2>
                                <h3>{{ block.settings.button }}</h3>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="right-column">
                {% for block in section.blocks %}
                    {% if block.settings.order_number == '3' %}
                        <div class="Order-{{ block.settings.order_number }} D-Flex F-Row">
                            <div class="left-content">
                                <img src="{{ block.settings.image | img_url: '1024x1024' }}" alt="Background Image" />
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Flex Section",
  "class": "section-flex-section",
  "settings": [],
  "blocks": [
    {
      "type": "box",
      "name": "Box",
      "settings": [
        {
          "id": "order_number",
          "type": "select",
          "label": "Order Number",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            }
          ]
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Title"
        },
        {
          "id": "description",
          "type": "textarea",
          "label": "Description"
        },
        {
          "id": "button",
          "type": "text",
          "label": "Button"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Flex Section",
      "settings": {},
      "blocks": []
    }
  ]
}
{% endschema %}
